<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTechID</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="#" class="nav-logo">
        <img src="../../Image/IMAGES/Computer_Logo_Image.png" alt="logo" />
      </a>
      <div>
        <ul>
          <li><a href="#" class="nav-active">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Portofolio</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </div>
    </nav>

    <section class="banner">
      <div class="slider">
        <div class="slides">
          <img src="../../Image/IMAGES/images (12).jpg" alt="banner" />
          <img src="../../Image/IMAGES/images (16).jpg" alt="banner" />
          <img src="../../Image/IMAGES/images (15).jpg" alt="banner" />
          <img src="../../Image/IMAGES/images (10).jpg" alt="banner" />
        </div>
      </div>
      <div class="indicators">
        <span class="indicator"></span>
        <span class="indicator"></span>
        <span class="indicator"></span>
        <span class="indicator"></span>
      </div>
    </section>

    <section class="gallery">
      <h2>Gallery</h2>
      <div class="grid-gallery">
        <di class="item-gallery">
          <img src="../../Image/IMAGES/images (1).webp" alt="gallery" />
        </di>
        <div class="item-gallery">
          <img src="../../Image/IMAGES/images (7).jpg" alt="gallery" />
        </div>
        <div class="item-gallery">
          <img src="../../Image/IMAGES/images (4).png" alt="gallery" />
        </div>
      </div>
    </section>

    <section class="about">
      <div class="about-img">
        <img src="../../Image/IMAGES/images (5).webp" alt="" />
      </div>
      <div class="about-text">
        <h1>About Us</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis
          odio cumque sequi doloremque nulla mollitia.
        </p>
      </div>
    </section>

    <section class="news">
      <h2>News</h2>
      <div class="grid-news">
        <div class="item-news news1">
          <img src="../../Image/IMAGES/images (3).png" alt="" />
        </div>
        <div class="item-news news2">
          <div>
            <div class="card-news">
              <img src="../../Image/IMAGES/images (1).jpg" alt="" />
              <div class="card-text">
                <h3>News</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                <p class="card-date">
                  <small>Upload 1 day ago</small>
                </p>
              </div>
            </div>
          </div>
          <div>
            <div class="card-news">
              <img src="../../Image/IMAGES/images (4).webp" alt="" />
              <div class="card-text">
                <h3>News</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                <p class="card-date">
                  <small>Upload 1 day ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service">
      <h2>Service</h2>
      <div class="grid-service">
        <div class="item-service">
          <img src="../../Image/IMAGES/images (2).png" alt="" />
          <div class="service-text">
            <h3>Service</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="item-service">
          <img src="../../Image/IMAGES/images (4).png" alt="" />
          <div class="service-text">
            <h3>Service</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="item-service">
          <img src="../../Image/IMAGES/images (12).jpg" alt="" />
          <div class="service-text">
            <h3>Service</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="portofolio">
      <h2>Portofolio</h2>
      <div class="grid-portofolio">
        <div class="item-portofolio">
          <img src="../../Image/IMAGES/images (14).jpg" alt="" />
        </div>
        <div class="item-portofolio">
          <img src="../../Image/IMAGES/images (15).jpg" alt="" />
        </div>
        <div class="item-portofolio">
          <img src="../../Image/IMAGES/images (17).jpg" alt="" />
        </div>
        <div class="item-portofolio">
          <img src="../../Image/IMAGES/images (7).webp" alt="" />
        </div>
      </div>
    </section>

    <section class="testimonials">
      <h2>Testimonials</h2>
      <div class="grid-testimonials">
        <div class="item-testimonials">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A incidunt
            laboriosam eos ipsam praesentium
          </p>
          <div class="tester">
            <img src="../../Image/IMAGES/images (13).jpg" alt="" />
            <div>
              <p>Name</p>
              <p>Email</p>
            </div>
          </div>
        </div>
        <div class="item-testimonials">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A incidunt
            laboriosam eos ipsam praesentium
          </p>
          <div class="tester">
            <img src="../../Image/IMAGES/images (13).jpg" alt="" />
            <div>
              <p>Name</p>
              <p>Email</p>
            </div>
          </div>
        </div>
        <div class="item-testimonials">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A incidunt
            laboriosam eos ipsam praesentium
          </p>
          <div class="tester">
            <img src="../../Image/IMAGES/images (13).jpg" alt="" />
            <div>
              <p>Name</p>
              <p>Email</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="search">
      <div class="search-input">
        <input type="text" placeholder="Search" />
        <button type="button">Cari</button>
      </div>
    </section>

    <footer>
      <div class="logo-footer">
        <img src="../../Image/IMAGES/Computer_Logo_Text.png" alt="" />
      </div>
      <div class="link-footer">
        <a href="#">Home</a>
        <a href="#">Gallery</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Portofolio</a>
      </div>
      <div class="footer-icon">
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/fb.png" alt="" />
        </a>
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/instagram.png" alt="" />
        </a>
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/twitter.png" alt="" />
        </a>
      </div>
    </footer>
    <div class="footer-copyright">Designed by : Zacky Julyanda Pratama</div>

    <script src="script.js"></script>
  </body>
</html>
