<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTechID</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="#" class="nav-logo">
        <img src="../Image/IMAGES/Computer_Logo_Image.png" alt="logo" />
      </a>
      <div>
        <ul>
          <li><a href="#" class="nav-active">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Portofolio</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </div>
    </nav>

    <section class="hero"></section>

    <script src="script.js"></script>
  </body>
</html>
