<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTechID</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="#" class="nav-logo">
        <img src="../../Image/IMAGES/Computer_Logo_Image.png" alt="logo" />
      </a>
      <div>
        <ul class="nav-ul">
          <li class="nav-li"><a href="#">Home</a></li>
          <li class="nav-li"><a href="#">About</a></li>
          <li class="nav-li"><a href="#">News</a></li>
          <li class="nav-li"><a href="#" class="nav-active">Blog</a></li>
          <li class="nav-li"><a href="#">Service</a></li>
          <li class="nav-li"><a href="#">Portofolio</a></li>
          <li class="nav-li"><a href="#">Testimonials</a></li>
        </ul>
      </div>
    </nav>

    <section class="blog">
      <div class="grid-blog">
        <div class="item-blog">
          <div class="card-blog">
            <img src="../../Image/IMAGES/images (8).jpg" alt="" />
            <div class="card-text">
              <h3>Blog</h3>
              <h4>Author</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div class="card-footer">
                <p class="date">27-08-1999</p>
                <div class="see">
                  <p class="view">20 views</p>
                  <p>30 comments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-blog">
          <div class="card-blog">
            <img src="../../Image/IMAGES/images (3).jpg" alt="" />
            <div class="card-text">
              <h3>Blog</h3>
              <h4>Author</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div class="card-footer">
                <p class="date">27-08-1999</p>
                <div class="see">
                  <p class="view">20 views</p>
                  <p>30 comments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="categori">
      <h2>Categori</h2>
      <div class="list-categori">
        <ol class="categori-list">
          <li>Pengembangan Web</li>
          <li>Desain Web</li>
          <li>SEO dan Pemasaran Digital</li>
          <li>Hosting dan Domain</li>
          <li>Keamanan Web</li>
          <li>CMS dan Platform Pengembangan</li>
          <li>Tren Teknologi Web</li>
          <li>Performance dan Optimasi Situs</li>
          <li>E-commerce dan Toko Online</li>
          <li>Alat dan Sumber Daya Pengembang</li>
        </ol>
      </div>
    </section>

    <section class="popular">
      <h2>Popular Blog</h2>
      <div>
        <img src="../../Image/IMAGES/images (10).jpg" alt="" />
      </div>
    </section>

    <footer>
      <div class="logo-footer">
        <img src="../../Image/IMAGES/Computer_Logo_Text.png" alt="" />
      </div>
      <div class="link-footer">
        <a href="#">Home</a>
        <a href="#">Gallery</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Portofolio</a>
      </div>
      <div class="footer-icon">
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/fb.png" alt="" />
        </a>
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/instagram.png" alt="" />
        </a>
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/twitter.png" alt="" />
        </a>
      </div>
    </footer>
    <div class="footer-copyright">Designed by : Zacky Julyanda Pratama</div>

    <script src="script.js"></script>
  </body>
</html>
