<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebTechID</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <a href="#" class="nav-logo">
        <img src="../../Image/IMAGES/Computer_Logo_Image.png" alt="logo" />
      </a>
      <div>
        <ul class="nav-ul">
          <li class="nav-li"><a href="#">Home</a></li>
          <li class="nav-li"><a href="#">About</a></li>
          <li class="nav-li"><a href="#">News</a></li>
          <li class="nav-li"><a href="#" class="nav-active">Blog</a></li>
          <li class="nav-li"><a href="#">Service</a></li>
          <li class="nav-li"><a href="#">Portofolio</a></li>
          <li class="nav-li"><a href="#">Testimonials</a></li>
        </ul>
      </div>
    </nav>

    <section class="blog-detail">
      <div class="container-blog-detail">
        <div class="item-blog-detail">
          <div class="card-blog-detail">
            <img src="../../Image/IMAGES/images (8).jpg" alt="" />
            <div class="card-text">
              <h3>Blog</h3>
              <h4>Author</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div class="card-footer">
                <p class="date">27-08-1999</p>
                <div class="see">
                  <p class="view">20 views</p>
                  <p>30 comments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="comment-form">
      <h2>Add Comment:</h2>
      <form action="#">
        <div class="grid-form">
          <div class="item-form">
            <div class="input-form">
              <input type="text" placeholder="Name" />
            </div>
            <div class="input-form">
              <input type="text" placeholder="Email" />
            </div>
          </div>
          <div class="input-form">
            <textarea name="message" placeholder="Message" rows="5"></textarea>
          </div>
          <div class="input-button">
            <button>Submit</button>
          </div>
        </div>
      </form>
    </section>

    <section class="comment-list">
      <div class="container-comment">
        <div class="comment-item">
          <img src="../../Image/IMAGES/images (13).jpg" alt="" />
          <div class="comment-text">
            <div class="comment-title">
              <h3>Name</h3>
              <p>Date</p>
            </div>
            <p>Comment...</p>
          </div>
        </div>
        <div class="comment-item">
          <img src="../../Image/IMAGES/images (13).jpg" alt="" />
          <div class="comment-text">
            <div class="comment-title">
              <h3>Name</h3>
              <p>Date</p>
            </div>
            <p>Comment...</p>
          </div>
        </div>
        <div class="comment-item">
          <img src="../../Image/IMAGES/images (13).jpg" alt="" />
          <div class="comment-text">
            <div class="comment-title">
              <h3>Name</h3>
              <p>Date</p>
            </div>
            <p>Comment...</p>
          </div>
        </div>
        <div class="comment-item">
          <img src="../../Image/IMAGES/images (13).jpg" alt="" />
          <div class="comment-text">
            <div class="comment-title">
              <h3>Name</h3>
              <p>Date</p>
            </div>
            <p>Comment...</p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="logo-footer">
        <img src="../../Image/IMAGES/Computer_Logo_Text.png" alt="" />
      </div>
      <div class="link-footer">
        <a href="#">Home</a>
        <a href="#">Gallery</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Portofolio</a>
      </div>
      <div class="footer-icon">
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/fb.png" alt="" />
        </a>
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/instagram.png" alt="" />
        </a>
        <a href="#">
          <img src="../../Image/SOCIAL_MEDIA/Colorful/twitter.png" alt="" />
        </a>
      </div>
    </footer>
    <div class="footer-copyright">Designed by : Zacky Julyanda Pratama</div>

    <script src="script.js"></script>
  </body>
</html>
